In [3]:
import pandas as pd
df = pd.read_csv("COVID-19 Cases.csv")
print(df.shape)
df.head()

(106704, 10)

,Date,Country_Region,Province_State,Case_Type,Cases,Difference,Prep_Flow_Runtime,Latest_Date,Lat,Long
0,3/11/2020,US,Arizona,Recovered,0,0,3/20/2020 7:43:39 AM,3/19/2020,32.0575,-111.6661
1,3/11/2020,US,Arizona,Deaths,0,0,3/20/2020 7:43:39 AM,3/19/2020,32.0575,-111.6661
2,3/11/2020,US,Arizona,Confirmed,0,0,3/20/2020 7:43:39 AM,3/19/2020,32.0575,-111.6661
3,3/11/2020,US,Arizona,Active,0,0,3/20/2020 7:43:39 AM,3/19/2020,32.0575,-111.6661
4,2/15/2020,US,Arizona,Recovered,0,0,3/20/2020 7:43:39 AM,3/19/2020,32.8162,-111.2845